<div class="container">
	<div class="row">
		<div class="col-span-8 col-offset-2 tr-top create-form">
			<form name="post_form" novalidate>
				<!-- <fieldset> -->
					<label>1. Title</label>
					<input type="text" name="title" ng-model="post.title" required>
					<span class="help-block">Give your post a title.</span>
					<label>2. Media Link (optional)</label>
					<input type="url" name="media" ng-model="post.media">
					<span class="help-block">Enter a URL that points to some content (eg. image, video, or a website). This will be embedded at the top of your post.</span>
					<label>3. Your post text</label>
					<textarea rows="7" name="body" ng-model="post.body" required></textarea>
					<span class="help-block">Write what ever you want here.</span>
					<label>4. Name (optional)</label>
					<input type="text" name="name" ng-model="post.author">
					<span class="help-block">Enter a name to go at the bottom of the post.</span>
					<label>5. Captcha</label>
					<div solve-media-captcha="" solve-media-model="post.adcopy_response" id="acwidget"></div>					
					<span class="help-block">Let's make sure you are human.</span>
					<div class="button-gap"></div>
					<button class="btn btn-primary" ng-disabled="btnDisabled" ng-click="createPost(post_form)">Create Post!</button>
					<button class="btn btn-primary" ng-disabled="btnDisabled" ng-click="cancelPost()">{{cancelText}}</button>
					<div ng-show="showError" class="err-notice bold">
						<h4>Error</h4>
						<p>{{errorText}}</p>			
					</div>
					<!--
					<span class="error" ng-show="post.$error.required">Required!</span>
  					<span class="error" ng-show="post.$error.url">Invalid URL format!</span>
  					-->
				<!-- </fieldset> -->
			</form>
		</div>
	</div>
</div>