<!DOCTYPE html>
<html lang="en" ng-app="turtleRaffle">
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/lib/bootstrap3/css/bootstrap.min.css"/>
	<link rel='stylesheet' href='/stylesheets/style.css'/>	
</head>
<body ng-controller="MainCtrl">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


	<div class="banner navbar navbar-fixed-top">
		<div class="container banner-container">
			<div class="col-span-8 col-offset-2 banner-sub">
				<span class="title"><a href="/#/">Turtle Raffle</a></span>				
				<div class="little-turtle">			
					<span>O(XX)></span>
				</div>
				<div class="banner-right">
					<span ng-cloak="" class="countdown">{{timeLeft}}</span>	
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-span-8 col-offset-2 tr-top">
				<div class="desc-left">
					<div class="about-text">Every 23 hours, a post is randomly drawn from all entries and displayed until next round.</div>
				</div>
				<div class="social-links">
					<div class="facebook">
						<div class="fb-like" data-href="http://www.turtleraffle.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
					</div>
					<div class="twitter">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://turtleraffle.com" data-via="_MattWay">Tweet</a>
					</div>
				</div>
			</div>
		</div>	
		<div ng-view></div>
	</div>

	<div class="message-container" ng-show="message.showMessage">
		<div class="message">
			<div class="msg-text">{{message.text}}</div>
			<button class="btn msg-btn" ng-click="msgClick()">OK</button>
		</div>
	</div>
	
	<script src="lib/angular/angular.js"></script>
	<script src="app/main.js"></script>
</body>
</html>